<div class="consulta" id="servicios">
    <div class="separador">
      <h6 class="display-4">Dashboard</h6>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" id="v-pills-empleado-tab" data-toggle="pill" routerLink="/crear-empleado"
          routerLinkActive="active" role="tab" aria-controls="v-pills-empleado" aria-selected="true">Agregar empleados</a>
          <a class="nav-link" id="v-pills-empleado-tab" data-toggle="pill" routerLink="/listar-empleado"
          routerLinkActive="active"  role="tab" aria-controls="v-pills-empleado" aria-selected="true">Lista de empleados</a>
          <a class="nav-link" id="v-pills-horario-tab" data-toggle="pill" routerLink="/crear-horarios" role="tab"
          routerLinkActive="active"  aria-controls="v-pills-horario" aria-selected="false">Agregar cursos</a>
          <a class="nav-link" id="v-pills-horario-tab" data-toggle="pill" routerLink="/listar-horarios" role="tab"
          routerLinkActive="active"  aria-controls="v-pills-horario" aria-selected="false">Listar cursos</a>        
        </div>
    </div>
  </div>