.navbar{
    background-color: #364151;
    opacity: 0.95;
    
}
.navbar .navbar-brand{
    color: white;
    font-weight: bolder;
    font-size: 1.6em;
    
}

.navbar .navbar-brand:hover{
    opacity: 0.5;
}

.navbar .navbar-nav{
    margin: 0 auto;
}


.navbar .nav-item{
    color: white !important;
    font-size: 110%;
}

.navbar .nav-item:hover {
    opacity: 0.4;
    font-weight: bolder;
    background-color: white;
    color:  #364151 !important;
}

.black-filter{
    
}
